parameters:
    locale:            en
    secret:            ThisTokenIsNotSoSecretChangeIt
    compiler: 'http://compilerurl.com/'
    library_manager: 'http://libraryappurl.com/'
    authorizationKey: authenticationekey
    version: version
